<table>
  <thead>
    <tr>
      <th>Учасник</th>
      <% @segments.each do |segment| %>
        <th><%=link_to segment.name, "https://www.strava.com/segments/#{segment.link}", target: "_blank" %></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%=link_to user.full_name, "#{user.link}", target: "_blank" %></td>
        <% user.results.each do |result| %>
          <td><%= seconds_to_hms(result.moving_time) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
