/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_tree .
 *= require_self
 */

table tr th {
  text-align: center;
}

table img {
  border-radius: 50%;
}

table thead tr {
  height: 40px;
}

table tr th a {
  text-decoration: none !important;
}

table tr td {
  border: 1px solid gray;
  font-size: 15px;
  text-align: center;
  vertical-align: inherit;
}

.user-avatar {
  margin-top: 20px;
}

.user-name a {
  font-size: 14px;
  text-decoration: none;
  font-weight: bold;
}

.segment-title {
  color: #5f52ca;
  font-weight: bold;
  line-height: 25px;
  text-transform: uppercase;
}

.segment-gif {
  margin: 10px 0;
}

.segment-block {
  padding-top: 20px;
  margin: 20px;
  border-radius: 8px;
  background-color: white;
  float: left;
}

.segment-value, .segment-value a {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
}

.segment-value a:hover {
  color: #5f52ca;
  text-decoration: none;
  background-color: white;
}
