// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body#dashboard {
  padding: 0;
  margin: 0;
  background-image: image-url("welcome.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  .race-wrapper {
    background-color: white;
    width: 550px;
    margin: 200px auto;
    opacity: 0.8;
    padding: 10px 20px;

    p {
      color: black;
      font-size: 20px;
    }
  }
  @media screen and (max-width: 768px) {
    .race-wrapper {
      background-color: white;
      width: 90%;
      margin: 60% auto;

      h3 { font-size: 25px }
      p { font-size: 18px }
    }
  }
}
