// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  background-image: image-url("welcome.jpg");
  td {
    background-color: white;
    opacity: 0.95;
  }
}

body#dashboard {
  padding: 0;
  margin: 0;
  background-image: image-url("run.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  .race-wrapper {
    background-color: white;
    border-radius: 8px;
    width: 550px;
    margin: 200px auto;
    opacity: 0.9;
    padding: 10px 20px;

    .buttons-wrapper { margin-bottom: 20px }

    button {
      border-radius: 30px;
      background: -webkit-linear-gradient(left, #b64e96, #5f52ca);
      background: linear-gradient(to right, #b64e96, #5f52ca);
      color: #FFF;
      font-size: 16px;
      padding: 18px 35px;
      text-decoration: none;
      -webkit-transition: all .3s ease;
      transition: all .3s ease;
      white-space: nowrap;
      &.right { float: right }
    }

    h2 {
      color: #5f52ca;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      margin-top: 25px;
    }

    p {
      color: #5f52ca;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 20px;
      span.value {
        color: black;
        text-transform: initial
      }
    }
  }
  @media screen and (max-width: 768px) {
    .race-wrapper {
      background-color: white;
      width: 90%;
      margin: 40% auto;

      button { font-size: 11px }
      h2 { font-size: 25px }
      p { font-size: 18px }
    }
  }
}
